<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    <link href="{{ url_for('static', filename='css/reset.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <header>
        <nav>
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/list/">List</a></li>
            <li><a href="/candidate/">Candidate</a></li>
            <li><a href="/search/">Search by name</a></li>
            <li><a href="/skill/">Search by skills</a></li>
        </ul>
        </nav>
    </header>
    <main>
        <h1>Род Стюарт - живая легенда мирового рок н ролла</h1>
        <div class="main">
            <img src="{{ url_for('static', filename='img/657105w.jpg') }}" alt="Rod Stewart">
        </div>
        <div class="main">
                <h2>Сэр Родерик Дэвид «Род» Стюарт (англ. Roderick David "Rod" Stewart, род. 10 января
                1945 года) — британский певец и автор песен, получивший известность сначала в
                The Jeff Beck Group
                </h2>
             <p>Затем в <a href="https://ru.wikipedia.org/wiki/Faces" target="_blank">The Faces</a>.
                 Наибольшего успеха <b>Род Стюарт</b> добился на
                 сольном поприще, в основном в <mark>Великобритании</mark>, где 7 его альбомов поднимались на
                первое место UK Albums Chart, а из 62 хит-синглов 22 входили в первую десятку[1].
                В списке журнала Q «100 величайших певцов» (англ. 100 Greatest Singers) Род Стюарт
                занимает 33-е место[2].
            </p>
            <p>
                Род Стюарт родился в Хайгейте (Северный Лондон) в семье Роберта и Элзи Стюартов,
                супружеской четы, незадолго до рождения младшего сына переехавшей в британскую
                столицу из Шотландии[3]. В возрасте одиннадцати лет Стюарт впервые взял в руки
                гитару, но посвятить себя музыке решился не сразу: в начале 60-х годов он всерьез
                рассматривал возможность стать профессиональным футболистом — в частности, некоторое
                время играл за юношеский состав клуба «Брентфорд» (Западный Лондон)[4]. Лишь
                отработав несколько лет на кладбище могильщиком, Стюарт решил заняться музыкой
                и вместе с фолк-исполнителем Уиззом Джонсом отправился путешествовать по Европе
                (из Испании их депортировали как бродяг). Летом 1962 года Стюарт стал одним из
                основателей (и вокалистом) группы The Ray Davies Quartet, позже превратившейся в
                The Kinks.
            </p>
        </div>
    </main>
</body>
</html>